.personalPage {
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  //   background-color: red;

  .cartAnimation {
    display: none;
  }

  .personalItems {
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #849fc559;
    border-radius: 25px;
    flex-wrap: wrap;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    overflow: hidden;

    .forImg {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      // background-color: red;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        border: 1px solid #849fc5;
        border-radius: 20px;
      }
    }

    .forTexts {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 8px;

      .titleSpan {
        width: clamp(20px, 300px, 100%);
        height: 1px;
        background-color: grey;
      }

      .forIncAndDecButtons {
        width: 160px;
        min-height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // background-color: red;
        gap: 12px;
        flex-wrap: wrap;

        button {
          width: clamp(15px, 40px, 100%);
          height: 40px;
          border: none;
          border-radius: 5px;
          background-color: #152e52;
          transition: 0.4s;
          color: white;

          &:hover {
            transition: 0.4s;
            background-color: #5a6f8f;
            color: white;
            cursor: pointer;
          }
        }
      }

      .buy {
        width: clamp(20px, 380px, 100%);
        transition: 0.4s;

        &:hover {
          background-color: #152e52;
          transition: 0.4s;
        }
      }

      .spanUpdate {
        font-size: 10px;
        color: rgb(127, 127, 127);
      }
      .updateBtn {
        width: clamp(20px, 95px, 100%);
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #152e52;
        color: white;
        transition: 0.4s;

        &:hover {
          transition: 0.4s;
          background-color: #4f6482;
        }
      }

      .forUpdAndDel {
        width: clamp(100px, 400px, 100%);
        min-height: 60px;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .delBtn {
          width: clamp(20px, 95px, 100%);
          height: 35px;
          border: none;
          border-radius: 5px;
          background-color: #152e52;
          color: white;
          transition: 0.4s;

          &:hover {
            transition: 0.4s;
            background-color: rgb(192, 23, 23);
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .personalPage {
    min-height: 600px;
    flex-direction: column;
    gap: 20px;

    background: linear-gradient(
      180deg,
      rgb(192, 203, 221) 17%,
      rgb(17, 28, 60) 100%
    );

    .personalItems {
      background-color: white;
      width: 95%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      padding: 10px;
      overflow: scroll;
      // flex-direction: column;

      .forImg {
        width: 98%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        // background-color: red;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          border: 1px solid #849fc5;
          border-radius: 20px;
          animation: moveToCart;
        }
      }

      .forTexts {
        width: 98%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
        // background-color: red;

        .titleSpan {
          width: clamp(20px, 300px, 100%);
          height: 1px;
          background-color: grey;
        }

        .forIncAndDecButtons {
          width: 160px;
          min-height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          // background-color: red;
          gap: 12px;
          flex-wrap: wrap;

          button {
            width: clamp(15px, 40px, 100%);
            height: 40px;
            border: none;
            border-radius: 5px;
            background-color: #152e52;
            transition: 0.4s;
            color: white;

            &:hover {
              transition: 0.4s;
              background-color: #5a6f8f;
              color: white;
              cursor: pointer;
            }
          }
        }

        .buy {
          width: clamp(20px, 380px, 100%);
          transition: 0.4s;

          &:hover {
            background-color: #152e52;
            transition: 0.4s;
          }
        }

        .spanUpdate {
          font-size: 10px;
          color: rgb(127, 127, 127);
        }
        .updateBtn {
          width: clamp(20px, 95px, 100%);
          height: 35px;
          border: none;
          border-bottom-left-radius: 15px;
          background-color: #152e52;
          color: white;
          transition: 0.4s;

          &:hover {
            transition: 0.4s;
            background-color: #4f6482;
          }
        }

        .forUpdAndDel {
          width: clamp(100px, 400px, 100%);
          min-height: 60px;
          // background-color: red;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          .delBtn {
            width: clamp(20px, 95px, 100%);
            height: 35px;
            border: none;
            border-radius: 5px;
            border-bottom-right-radius: 15px;

            background-color: #152e52;
            color: white;
            transition: 0.4s;

            &:hover {
              transition: 0.4s;
              background-color: rgb(192, 23, 23);
              cursor: pointer;
            }
          }
        }
      }
    }

    .cartAnimation {
      width: 95%;
      height: 45px;
      background-color: rgb(246, 246, 246);
      display: flex;
      position: sticky;
      bottom: 0;
      left: 0;
      z-index: 1000;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      button {
        width: 50%;
        height: 40px;
        border: none;
        border-radius: 8px;
        color: white;
        background-color: #95aac8;
        font-size: 22px;
      }
    }
  }
}

@keyframes imageMoveToCart {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(0vw, 100vh) scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: translate(0vw, 0vh) scale(0.1);
    opacity: 0.3;
  }
}

.forImg.animate {
  animation: imageMoveToCart 3s ease-in-out forwards;
}
